<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials :: header (pageTitle = 'Create Post')">
</head>
<nav th:replace="/partials/partials :: navbar"/>
<body>

<div class="container mt-5">
    <h3>Create Post</h3>

    <form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
        <div class="form-group">
            <label for="title">Post Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" maxlength="100" required autofocus>
        </div>
        <div class="form-group">
            <label for="body">Post</label>
            <input type="text" class="form-control" id="body" th:field="*{body}" maxlength="255" required>
        </div>
        <button type="submit" id="id" class="btn btn-primary btn-sm btn-block">Save</button>
    </form>
</div>
</body>
<footer th:replace="partials/partials :: footer"/>
</html>