<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Partials</title>
</head>
<body>

    <nav th:fragment="navbar">
        <a th:href="@{/posts/create}" class="btn btn-muted btn-sm">
            <i class="fas fa-plus-square"></i>Create Post
        </a>
    </nav>

    <header th:fragment="head (pageTitle)">
        <meta charset="UTF-8">
        <title th:text="${pageTitle}"></title>
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
<!--        <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"></script>-->
<!--        <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js}"></script>-->
        <script src="https://kit.fontawesome.com/8d58347b96.js" crossorigin="anonymous"></script>
    </header>

    <footer th:fragment="footer">
        This is your footer
    </footer>

</body>
</html>