<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials :: header (pageTitle = 'Profile')">
</head>
<nav th:replace="partials/partials :: navbar"/>
<body>

    <h1>Hello, <span th:text="${user}">World</span>!</h1>

    <p>Your username is: <span th:text="${username}">Placeholder</span></p>
    <p>Your password is: <span th:text="${password}">Placeholder</span></p>

    <!--forEach post in collection posts-->
    <div th:if = "${isLoggedIn}">
        <ul th:each="post : ${posts}">
            <li th:text="${post}"></li>
        </ul>
    </div>

</body>
<footer th:replace="partials/partials :: footer"/>
</html>