<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials :: header (pageTitle = 'Profile')">
</head>
<nav th:replace="partials/partials :: navbar"/>
<body>
    <div>
        <h1>Hello, <span th:text="${user.username}">World</span>!</h1>

        <p>Your email is: <span th:text="${user.email}">Placeholder</span></p>
        <p>Your username is: <span th:text="${user.username}">Placeholder</span></p>
<!--        <a th:href="@{/profile/edit}" class="btn btn-muted btn-sm"><i class="fas fa-edit"></i>Edit</a>-->
<!--        <a th:href="@{/profile/delete}" class="btn btn-muted btn-sm"><i class="fas fa-trash"></i>Delete Account</a>-->
    </div>

    <!--forEach post in collection posts-->
    <div th:if = "${isLoggedIn}">
        <ul th:each="post : ${posts}">
            <li th:text="${post}"></li>
        </ul>
    </div>

</body>
<footer th:replace="partials/partials :: footer"/>
</html>